body {
  margin: 0;
  padding: 0;
  background: #FFF;;
}

.status-bar {
  margin: 3px 1px;
  display: flex;
  gap: 1px;
}

.window {
  margin: 12px 12px;
}

.zap-btn {
  margin-left: 1rem;
  margin-top: .1rem;
}

.zap-row {
  margin-top: .3rem;
  margin-left: .25rem;
}

label {
  font-weight: 600;
  font-size: larger;
}

.rowfields {
  margin-right: .3rem;
}

p.pool-title {
  font-weight: bold;
}

.pool-info {
  margin-top: .25rem;
}

.component {
  display: flex;
}

.contract-fn {
  margin-top: .25rem;
}


.fn-name {
  font-weight: bold;
}

.app {
margin: 12px 12px;
}

h1 {
  font-size: 4rem;
}

h1, h2, h3 {
  margin: 12px 12px;
}

hr {
  margin: 0 12px;
  border: none;
  width: 400px;
  height: 1px;
  opacity: 0.5;
  background: linear-gradient(
    to right,
    red 20%,
    yellow 20%,
    yellow 36%,
    green 36%,
    green 60%,
    blue 60%,
    blue 100%
  );
}

h2 {
  margin-bottom: 12px;
}

h3 {
  font-size: 1.6rem;
}

h3,
h4 {
  /* Swap the margin for a top-padding so linking to this section
     results in a better scroll position */
  padding-top: 20px;
  margin-top: 0;
  display: block;
  flex: 0 0 180px;
}

p {
  max-width: 50rem;
  font-size: larger;
  line-height: 1.5;
}

.vault-provider-row {
  margin-top: .1rem;
  margin-bottom: .3rem;
}

.vault-provider {
  padding-right: .1rem;
}

.fieldsets {
  flex-wrap: wrap;;
  justify-content: space-evenly;
}

fieldset {
  flex-grow: 1;
  margin: 0.75rem 0.25rem;
}

@media screen and (min-width: 600px) {
  .window {
    margin: 12px 10rem;
  }
  #header {
    margin: 12px 10rem;
  }
}

.mrp {
  margin-right: .4rem;
}

.platformlabel {
  margin-top: 0.8rem;
}

.zapselect {
  margin-top: .5rem;
}

p {
  line-height: 1.5;
}


blockquote {
  margin-top: 1rem;
  margin-left: 1.5rem;;
  margin-right: 1.5rem;;
  padding: 20px;
  background: #dfdfdf;
}

blockquote footer {
  margin: 12px 0 0 12px;
}

div.window {
  font-family: Arial;
}
